{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success">Success</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info">Info</button>
            </div>
        </div>
    </div>

    <a href="{{ path('product_add_form') }}">Add new</a>

<div class="example-wrapper">
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <a href="{{ path('product_show', {id: product.id}) }}">{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a href="{{ path('product_update', {id: product.id}) }}">Update</a>
                    <a href="{{ path('product_delete', {id: product.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
